---
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4" aria-label="Footer" role="contentinfo" id="footer">
  <div
    class="mx-auto flex max-w-5xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
  >
    <SocialIcons links={SOCIAL_LINKS} />
    <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
      <span class="text-muted-foreground text-sm" aria-label="copyright">
        2020 - {new Date().getFullYear()} &copy; All rights reserved.
      </span>
      <Separator orientation="vertical" className="hidden h-4! sm:block" />
      <p class="text-muted-foreground text-sm" aria-label="open-source description">
        <Link
          href="https://github.com/cojocaru-david/portfolio"
          class="text-foreground"
          external
          underline>Open-source</Link
        > under MIT license
      </p>
    </div>
  </div>
</footer>
